body{
	max-width: 500px;
	margin: auto;
	text-align: center;
	background-color: lightyellow;
}

.buttonBlock{
	margin-top: 20px;
}

.won{
	color: green;
}

#title{
	font-family: 'Staatliches', cursive;
	font-size: 80px;
}

#scoreBoard{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
}

#prompt{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}